{{> menu active="about"}}

<section class="section">
  <h1>Register your interest ! </h1>
  <h2>A point of interest（POI）, is a specific point location that someone may find useful or interesting.</h2>
  <img src="/images/map1.jpg" width="400" height="300">
</section>
