{{> menu active="admindashboard"}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      Users List
    </div>
    {{> list-users}}
    {{> add-user}}
  </div>
</section>