{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{county.countyname}}
    </div>
    {{> list-places}}
    {{> add-place}}
  </div>
  <div class="column">
    {{> county-image }}
  </div>
</section>