<head><script src="https://kit.fontawesome.com/73050d7fbb.js" crossorigin="anonymous"></script></head>
<div class="title p-3 is-flex">
  <body>
  <i style="font-size: 48px; color: Dodgerblue;" class="fa-solid fa-map"></i>
  </body>
  <div class="ml-4">Walk Trail Map</div>
</div>
